$cvkt-grid-xs:(
	columns:12,
	gutter:1rem,
	media:100px,
);
$cvkt-grid-sm:(
	columns:12,
	gutter:2rem,
	media:576px,
);
$cvkt-grid-md:(
	columns:12,
	gutter:2rem,
	media:768px,
);
$cvkt-grid-l:(
	columns:12,
	gutter:2rem,
	media:992px,
);

$cvkt-grid-lg:(
	columns:12,
	gutter:2rem,
	media:1200px,
);
