@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/core/neat';

/* IMPORT GRID-SETTINGS*/
@import '../styles/tools/responsive';






$small-grid: (
  columns: 12,
  gutter: 2rem,
  media: 545px,
);

.introduction{

	@include grid-media($small-grid){
    	@include grid-column(8);
    	@include grid-push(2);
 	 };

	

	/* Responsive -md $custom-grid*/


	@include grid-column(12);
		text-align: center;
	
}

.logo{
	@include grid-media($small-grid){

      	@include grid-column(8);
    	@include grid-push(2)
 	 };

	@include grid-column(12);

}


